{include file="index@public/header"/}



<script type="text/javascript">var IsPageHome="1";var Lanmu_Id="61";var Sublanmu_Id="0";ShowSubMenu(Lanmu_Id);</script>


		<div id="slideBox" class="slideBox">
			<div class="bd">
				<ul>
					<li>
						<a class="pic" href="#"><img alt="深圳誉胜科技" src="__STATIC__/images/banner1.jpg" /></a>
					</li>
					<li>
						<a class="pic" href="#"><img alt="深圳誉胜科技" src="__STATIC__/images/banner2.jpg" /></a>
					</li>
					<li>
						<a class="pic" href="#"><img alt="深圳誉胜科技" src="__STATIC__/images/banner3.jpg" /></a>
					</li>
				</ul>
			</div>
			<span class="prev hidden-xs hidden-sm"></span>
			<span class="next hidden-xs hidden-sm"></span>
			<ul class="hd">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
   
<div class="main_box main_box_style">
 <div class="main_box_inner">
 



<div class="se_boder">
<div class="container ser">
<div class="row">
<div class="col-lg-7 col-md-7 col-xs-12 k_left">
热搜关键词：油加热器  水温机  油温机  模温机
</div>
<div class="col-lg-5 col-md-5 col-xs-12">
<div class="tel"> 
      <form method="get" action="/search/search.php?lang=cn">
                    <input name="lang" value="cn" type="hidden">
                    <div class="input-search">
                        <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                        <input class="inp" name="searchword" value="" placeholder="搜索" data-fv-notempty="true" data-fv-message="不能为空" type="text">
                    </div>
                </form>
       </div>
	   </div>
</div>
</div>
</div>


<div class="module_box1">
 <div class="module_box_inner">
   <div class="module_title"><span class="module_sign"><div class="sign_div1"><h2><span class="s1">产品<span> 中心</span></span></h2></div><div class="sign_div2">PRODUCT CENTER</div></span><span class="module_more"></span></div>
   <div id="module_content_304" class="module_content module_content_introduct">

<div class="sy_cpzs">
	
	<div class="sycp_com main_box_style1">

	
	<div class="main_box_inner_left">
<div id="nav_144" class="nav_box nav_box_menu">

<div class="nav_title"><span class="nav_sign">产品选择区</span><span class="nav_more"></span></div>
<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navs"><span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div id="navs" class="nav_menu collapse navbar-collapse">
<ul id="rootul_144">
<!--	-->	
<li id="sl694"><a href="#&class2=6" title="试水机" class="sla694 "><h3>试水机</h3></a></li>

	
<li class="bg"><a style="line-height:40px;" href="#&class3=100" title="油温机">&nbsp;&nbsp;&nbsp;&nbsp;--油温机</a></li>
		
<li class="bg"><a style="line-height:40px;" href="#&class3=103" title="水温机">&nbsp;&nbsp;&nbsp;&nbsp;--水温机</a></li>
		




	<!--	-->	
<li id="sl694"><a href="#&class2=9" title="压花机" class="sla694 "><h3>压花机</h3></a></li>

<li class="bg"><a style="line-height:40px;" href="#&class3=109" title="120度水式模温机">&nbsp;&nbsp;&nbsp;&nbsp;--120度水式模温机</a></li>
		
<li class="bg"><a style="line-height:40px;" href="#&class3=110" title="150度水式模温机">&nbsp;&nbsp;&nbsp;&nbsp;--150度水式模温机</a></li>
		



	<!--	-->	
<li id="sl694"><a href="#&class2=115" title="按行业选择油（水）加热器" class="sla694 "><h3>按行业选择油（水）加热器</h3></a></li>
	
<li class="bg"><a style="line-height:40px;" href="#&class3=122" title="滚筒（辊轮）专用加热器">&nbsp;&nbsp;&nbsp;&nbsp;--滚筒（辊轮）专用加热器</a></li>
		
<li class="bg"><a style="line-height:40px;" href="#&class3=124" title="橡胶行业专用加热器">&nbsp;&nbsp;&nbsp;&nbsp;--橡胶行业专用加热器</a></li>
		




	<!--	-->	
<li id="sl694"><a href="#&class2=99" title="冷水机" class="sla694 "><h3>冷水机</h3></a></li>

<li class="bg"><a style="line-height:40px;" href="#&class3=117" title="水冷式冷水机">&nbsp;&nbsp;&nbsp;&nbsp;--水冷式冷水机</a></li>
		
<li class="bg"><a style="line-height:40px;" href="#&class3=118" title="风冷式冷水机">&nbsp;&nbsp;&nbsp;&nbsp;--风冷式冷水机</a></li>
		
	<!--	-->	


</ul>
</div>

</div>
<script type="text/javascript">Initialization_Nav("rootul_144","sl918","0");</script>
</div>
	
             <ul class=" zuche-bd d4 main_box_inner_right">

			<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=57" title="压铸双回路模温机"><img src="__STATIC__/images/1572572646.jpg" alt="压铸双回路模温机" title="压铸双回路模温机"/></a>
<a class="tpzs_title" href="#&id=57" rel="nofollow" title="压铸双回路模温机">压铸双回路模温机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=41" title="高光蒸汽模温机"><img src="__STATIC__/images/1571101268.jpg" alt="高光蒸汽模温机" title="高光蒸汽模温机"/></a>
<a class="tpzs_title" href="#&id=41" rel="nofollow" title="高光蒸汽模温机">高光蒸汽模温机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=42" title="水冷式冷水机"><img src="__STATIC__/images/1571100346.jpg" alt="水冷式冷水机" title="水冷式冷水机"/></a>
<a class="tpzs_title" href="#&id=42" rel="nofollow" title="水冷式冷水机">水冷式冷水机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=43" title="风冷式冷水机"><img src="__STATIC__/images/1571016390.jpg" alt="风冷式冷水机" title="风冷式冷水机"/></a>
<a class="tpzs_title" href="#&id=43" rel="nofollow" title="风冷式冷水机">风冷式冷水机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=44" title="螺杆式冷水机"><img src="__STATIC__/images/1533171758.jpg" alt="螺杆式冷水机" title="螺杆式冷水机"/></a>
<a class="tpzs_title" href="#&id=44" rel="nofollow" title="螺杆式冷水机">螺杆式冷水机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=30" title="防爆模温机"><img src="__STATIC__/images/1569656841.jpg" alt="防爆模温机" title="防爆模温机"/></a>
<a class="tpzs_title" href="#&id=30" rel="nofollow" title="防爆模温机">防爆模温机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=55" title="有机热载体炉"><img src="__STATIC__/images/1569655519.jpg" alt="有机热载体炉" title="有机热载体炉"/></a>
<a class="tpzs_title" href="#&id=55" rel="nofollow" title="有机热载体炉">有机热载体炉</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=54" title="冷热一体机"><img src="__STATIC__/images/1569653946.jpg" alt="冷热一体机" title="冷热一体机"/></a>
<a class="tpzs_title" href="#&id=54" rel="nofollow" title="冷热一体机">冷热一体机</a>
<div class="info"> </div>
  </li>
<!--	-->
  <li class="animates4  col-sm-4 col-xs-6 pro_in">
<a class="pic" href="#&id=32" title="双机（多机）一体模温机"><img src="__STATIC__/images/1569652618.jpg" alt="双机（多机）一体模温机" title="双机（多机）一体模温机"/></a>
<a class="tpzs_title" href="#&id=32" rel="nofollow" title="双机（多机）一体模温机">双机（多机）一体模温机</a>
<div class="info"> </div>
  </li>


 	
 

</ul>





	</div>
       
</div>

   </div>
   <div class="module_footer"><span class="l"></span><span class="r"></span></div>
 </div>
</div>

	

			
<div class="fw ty_yc">
			<div class="container">
			<div class="fw_top">
			<h2>誉胜科技·15年专注于试水设备</h2>
<span>誉胜科技15年来让客户满意的五大原因</span>
			</div>
			
			<div class="row fw_con">
			
			<div class="col-sm-13 col-xs-6 ">
			<div class="fw_li">
			<dt>01</dt>
			<dd>原装进口原件</dd>
			<span>假一罚十质量可靠</span>
			<div class="fw_li_line"></div>
			<div class="fw_li_wz_ico fw_li_h_ico1">
			ORIGINAL IMPORT
			</div>
			</div>
			</div>
			
			<div class="col-sm-13 col-xs-6 ">
			<div class="fw_li">
			<dt>02</dt>
			<dd>性价比高</dd>
			<span>对比同类产品价格性价比更高，更划算</span>
			<div class="fw_li_line"></div>
			<div class="fw_li_wz_ico fw_li_h_ico2">
			LOWPRICE
			</div>
			</div>
			</div>
			
			<div class="col-sm-13 col-xs-6 ">
			<div class="fw_li">
			<dt>03</dt>
			<dd>支持非标定制</dd>
			<span>支持非标定制 提供一对一服务</span>
			<div class="fw_li_line"></div>
			<div class="fw_li_wz_ico fw_li_h_ico3">
			CUSTOMIZED
			</div>
			</div>
			</div>
			
			<div class="col-sm-13 col-xs-6 ">
			<div class="fw_li">
			<dt>04</dt>
			<dd>售后服务点多</dd>
			<span>全国有23个售后服务点</span>
			<div class="fw_li_line"></div>
			<div class="fw_li_wz_ico fw_li_h_ico4">
			MORE SERVICE POINTS
			</div>
			</div>
			</div>
			
			<div class="col-sm-13 col-xs-6 ">
			<div class="fw_li">
			<dt>05</dt>
			<dd>服务零投诉</dd>
			<span>积极帮助客户解决问题做好定期客户回访</span>
			<div class="fw_li_line"></div>
			<div class="fw_li_wz_ico fw_li_h_ico5">
			ZERO COMPLANINT
			</div>
			</div>
			</div>
			
			
			</div>
			
			</div>
			</div>	
			
			
			<div style="clear:both;"></div>

<div class="ys ty_yc">
<div class="container">
			<div class="ys_tit"><img src="__STATIC__/images/ys_tit.png" alt="优势" /></div>	
			
			<div class="ys_cc">
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit">
			<div style="float:left;"><img src="__STATIC__/images/ys_ico1.png" alt="优势" /></div>
			<p style="float:left;width: 75%;padding-left: 5%;">
			<span style="font-size:18px;font-weight:bold;">运行稳定更安全</span><br>
			<span style="border-bottom:2px solid #ccc;width:50px;display:block;margin-top:10px;margin-bottom:10px;"></span>
			安装有防漏电装置，防爆装置，高温预防警报等，确保机器安全高效运转使用
			</p>
			</div>
			</div>
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit">
			<div style="float:left;"><img src="__STATIC__/images/ys_ico2.png" alt="优势" /></div>
			<p style="float:left;width: 75%;padding-left: 5%;">
			<span style="font-size:18px;font-weight:bold;">高效节能更环保</span><br>
			<span style="border-bottom:2px solid #ccc;width:50px;display:block;margin-top:10px;margin-bottom:10px;"></span>
			采用F321材质电加热管，进口合金电阻丝，并通过PID智能控制，热转化效率可达到98%以上，更节能,更环保。
			</p>
			</div>
			</div>
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit">
			<div style="float:left;"><img src="__STATIC__/images/ys_ico3.png" alt="优势" /></div>
			<p style="float:left;width: 75%;padding-left: 5%;">
			<span style="font-size:18px;font-weight:bold;">控温稳定耐高温</span><br>
			<span style="border-bottom:2px solid #ccc;width:50px;display:block;margin-top:10px;margin-bottom:10px;"></span>
			温度控制表采用OMRON或WEST微电脑双组PID控制，温度控制范围：-98℃——400℃
			</p>
			</div>
			</div>
			
			
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit">
			<div style="float:left;"><img src="__STATIC__/images/ys_ico5.png" alt="优势" /></div>
			<p style="float:left;width: 75%;padding-left: 5%;">
			<span style="font-size:18px;font-weight:bold;">精准控温误差±0.1℃</span><br>
			<span style="border-bottom:2px solid #ccc;width:50px;display:block;margin-top:10px;margin-bottom:10px;"></span>
			全系设备可实现精度控温，误差可控制在±0.1℃范围之内。
			</p>
			</div>
			</div>
			
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit">
			<div style="float:left;"><img src="__STATIC__/images/ys_ico4.png" alt="优势" /></div>
			<p style="float:left;width: 75%;padding-left: 5%;">
			<span style="font-size:18px;font-weight:bold;">质量有保障性能高</span><br>
			<span style="border-bottom:2px solid #ccc;width:50px;display:block;margin-top:10px;margin-bottom:10px;"></span>
			采用进口原组件，确保产品的质量，提高产品性能。
			</p>
			</div>
			</div>
			
			
			
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="ys_lit1">
			<img src="__STATIC__/images/ys_zx.png" alt="优势" />
			
			</div>
			</div>
			
			
			
			
			
			
			</div>
			
			
			
				
	     </div>
</div>




<div id="module_306" class="module_box ty_yc">
 <div class="module_box_inner">
   <div id="module_content_306" class="module_content module_content_introduct">

<div class="sy_hzhb">
	<div class="row">

	
	
		
		<div class="col-xs-12 col-sm-6">
			<img title="深圳誉胜科技" alt="深圳誉胜科技" src="__STATIC__/images/ab.jpg">
		</div>
		<div class="col-xs-12 col-sm-6">
		
		<dd>
				<h3>
					<img title="深圳誉胜科技" alt="深圳誉胜科技" src="__STATIC__/images/gywm.jpg">
				</h3>
  <p>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳誉胜科技（ACME-temp）拥有从事工业流体温度控制技术10多年经验的技术和服务团队，公司一直致力于高性能工业温度控制设备的研发生产销售服务和技术咨询，是一家专一生产工业温度控制设备和提供温控系统解决方案的企业，公司团队在技术领域的的不断创新注重客户的使用感受得到业界和使用客户的一致认可是替代进口设备的选择。
						 <br>
						 </p>
                           
                            <a class="about-detail" rel="nofollow" href="about/show.php?lang=cn&id=19" title="查看详情">【 查看详情 】</a>
							</dd>
		<div style="width:90%;margin:0px auto;">
			<div id="scroll" class="owl-carousel">
	
		<div class="item">
			<a href="#&id=69" class="pic" title="办公环境(业务)"><img src="__STATIC__/images/1568001382.jpg" alt="办公环境(业务)" title="办公环境(业务)"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=67" class="pic" title="办公环境(资材)"><img src="__STATIC__/images/1568001096.jpg" alt="办公环境(资材)" title="办公环境(资材)"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=68" class="pic" title="仓库环境"><img src="__STATIC__/images/1533796029.jpg" alt="仓库环境" title="仓库环境"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=66" class="pic" title="仓库环境"><img src="__STATIC__/images/1533796432.jpg" alt="仓库环境" title="仓库环境"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=65" class="pic" title="仓库环境"><img src="__STATIC__/images/1533795835.jpg" alt="仓库环境" title="仓库环境"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=64" class="pic" title="仓库环境"><img src="__STATIC__/images/1533796460.jpg" alt="仓库环境" title="仓库环境"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=63" class="pic" title="现场工作环境"><img src="__STATIC__/images/1533795351.jpg" alt="现场工作环境" title="现场工作环境"></a>
						
		</div>
	
		<div class="item">
			<a href="#&id=62" class="pic" title="办公环境"><img src="__STATIC__/images/1533795541.jpg" alt="办公环境" title="办公环境"></a>
						
		</div>
	<!--	-->	
		
	</div>
	</div>
		</div>
		
		
	</div>
</div>

   </div>
   <div class="module_footer"><span class="l"></span><span class="r"></span></div>
 </div>
</div>




	<div class="module_box">
 <div class="module_box_inner">			
   <div class="module_title1"><span class="module_sign"><div class="sign_div1"><h2><span class="s1">资质 <span>证书</span></span></h2></div><div class="sign_div2">CERTIFICATE</div></span>
   <div class="clear"></div>
<div class="syhz_com">
				<div id="scroll1" class="owl-carousel1">
	
		<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs1.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
	<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs2.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
		<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs3.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
			<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs1.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
	<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs2.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
		<div class="item1">
			<a class="pic"><img src="__STATIC__/images/zs3.jpg" alt="资质证书" title="资质证书"></a>
						
		</div>
	
	</div>
	
	
	
			</div>
</div>
</div></div>


{include file='public/footer' /}

	

	