{include file="index@public/header"/}


<script type="text/javascript">var IsPageHome="1";var Lanmu_Id="61";var Sublanmu_Id="0";ShowSubMenu(Lanmu_Id);</script>


<div class="main_box main_box_style">
 <div class="main_box_inner">
 

       <div class="page_top">
			<a href="#">
				<img src="__STATIC__/images/about/ban_er.jpg"/>
			</a>
		</div>
	<div class="main_box main_box_style1">
 <div class="main_box_inner">
   
  <div class="main_box_inner_left">
<div id="nav_144" class="nav_box nav_box_menu">

<div class="nav_title"><span class="nav_sign">关于我们</span><span class="nav_more"></span></div>
<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navs"><span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div id="navs" class="nav_menu collapse navbar-collapse">
<ul id="rootul_144">
<!--	-->	
<li id="sl694"><a href="{:url('index/about')}" title="公司简介" class="sla694 current"><h3>公司简介</h3></a></li>

<li id="sl694"><a href="{:url('index/about')}" title="联系我们" class="sla694 "><h3>联系我们</h3></a></li>
	<!--	-->
</ul>
</div>
<div class="nav_title tjxw"><span class="nav_sign">联系方式</span><span class="nav_more"></span></div>
<div id="navs" class="nav_menu collapse navbar-collapse">
<ul class="page_left ty_yc">

								<h4>深圳誉胜科技</h4>

联系人：刘先生<br>

手机：13530801381<br>

电话：0755-27630991<br>

传真：0755-27630991<br>

邮箱：cnysjx@163.com<br>

地址：深圳市宝安区松岗乔山尾工业区 
					</ul>
</div>


</div>
<script type="text/javascript">Initialization_Nav("rootul_144","sl918","0");</script>
</div>
 

   <div class="main_box_inner_right"><div class="current_location current_location_694"><ul>
<li class="current_location_1">当前位置：<a href="{:url('index/index')}" title="网站首页">网站首页
					</a> >	
				<a href="{:url('index/about')}" >关于我们</a> > <a href="{:url('index/about')}" >公司简介</a></li>
<li class="current_location_2">公司简介</li>
</ul></div>
<div class="sublanmu_box sublanmu_box_694">
<div class="sublanmu_content sublanmu_content_introduct">

<div><p style="text-align: center;"><img src="__STATIC__/images/about/1570582717424247.jpg" title="1570582717424247.jpg" alt="1570582717424247.jpg" width="" height="" border="0" vspace="0" style="width: 1126px; height: 374px;"/></p><p><br/></p><p><br/></p><p><br/></p><p style="text-align: center;">深圳誉胜科技</p><p>深圳誉胜科技（ACME-temp）拥有专业从事工业流体温度控制技术10多年经验的技术和服务团队，公司一直致力于高性能工业温度控制设备的研发生产销售服务和技术咨询，是一家专一生产工业温度控制设备和提供温控系统解决方案的企业，公司团队在技术领域的的不断创新注重客户的使用感受得到业界和使用客户的一致认可是替代进口设备的最佳选择。</p><p>　　ACME（誉胜科技）以丰富的客户服务经验和强大的技术背景为核心，专注于向客户提供安全高效，价格合理的模温机。ACME（誉胜科技）产品性能稳定、温控精确度高、无泄漏，安全耐用，可以帮助客户提高产品合格率，降低生产成本。在技术和服务方面，ACME（誉胜科技）专业的技术和售后服务人员，为顾客提供放心的产品和贴心的售后服务；并配合客户在使用现场的安装调试并对操作人员进行指导和培训。</p><p>　　我们产品的应用行业有：塑胶注射成型、镁铝合金压铸、碳纤维模压冷热成型、化工反应釜、橡胶挤出压延密炼硫化成型、鞋材、风电叶片、印刷辊筒、纺织、印染烘干、热压成型等行业得到广泛的应用，产品远销印度、印尼、越南、泰国等东南亚国家，誉胜科技以先进的生产技术和优化的人力资源，打造一流的温度控制设备，并以进口机的品质、国产机的价格为客户创造价值。</p><p>标语：卓越不仅仅是一种表现而是一种习惯！我们为此坚持不懈！</p><p style="line-height: 2em;"><br/></p><p><br/></p></div>

</div>
</div></div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>

 </div>
 <div class="clear main_box_inner_bottom"></div>
</div><div class="bottom_box"><div class="dibu">
	

	{include file='public/footer' /}