{include file="index@public/header"/}

<script type="text/javascript">var IsPageHome="1";var Lanmu_Id="61";var Sublanmu_Id="0";ShowSubMenu(Lanmu_Id);</script>


<div class="main_box main_box_style">
 <div class="main_box_inner">
 

       <div class="page_top">
			<a href="#">
				<img src="__STATIC__/images/case/ban_er.jpg"/>
			</a>
		</div>
		<div class="main_box main_box_style1">
 <div class="main_box_inner">
   
  <div class="main_box_inner_left">
<div id="nav_144" class="nav_box nav_box_menu">

<div class="nav_title"><span class="nav_sign">客户案例</span><span class="nav_more"></span></div>
<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navs"><span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div id="navs" class="nav_menu collapse navbar-collapse">
<ul id="rootul_144">
<!--	-->
</ul>
</div>
<div class="nav_title tjxw"><span class="nav_sign">联系方式</span><span class="nav_more"></span></div>
<div id="navs" class="nav_menu collapse navbar-collapse">
<ul class="page_left ty_yc">

								<h4>誉胜科技</h4>

联系人：刘先生<br>

手机：13530801381<br>

电话：0755-27630991<br>

传真：0755-27630991<br>

邮箱：cnysjx@163.com<br>

地址：深圳市宝安区松岗乔山尾工业区 
					</ul>
</div>


</div>
<script type="text/javascript">Initialization_Nav("rootul_144","sl918","0");</script>
</div>
 

   <div class="main_box_inner_right"><div class="current_location current_location_918"><ul>
<li class="current_location_1">当前位置：<a href="index.html" title="网站首页">网站首页
					</a> >	
				<a href=case.html >客户案例</a></li>
<li class="current_location_2"></li>
</ul></div>
<div class="sublanmu_box sublanmu_box_918">
<div class="sublanmu_content sublanmu_content_product">
<ul class="tpzs_box row">


  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=98" title="薄膜生产线专用风冷式模温机"><img src="__STATIC__/images/case/1572575435.jpg" alt="薄膜生产线专用风冷式模温机" title="薄膜生产线专用风冷式模温机" /></a>
<a class="tpzs_title" href="#&id=98" title="薄膜生产线专用风冷式模温机">薄膜生产线专用风冷式模温机</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=97" title="风电叶片控温现场"><img src="__STATIC__/images/case/1572417611.jpg" alt="风电叶片控温现场" title="风电叶片控温现场" /></a>
<a class="tpzs_title" href="#&id=97" title="风电叶片控温现场">风电叶片控温现场</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=58" title="双向拉伸流延膜控温"><img src="__STATIC__/images/case/1533261024.jpg" alt="双向拉伸流延膜控温" title="双向拉伸流延膜控温" /></a>
<a class="tpzs_title" href="#&id=58" title="双向拉伸流延膜控温">双向拉伸流延膜控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=54" title="BMC/SMC复材专用模温机"><img src="__STATIC__/images/case/1533261001.jpg" alt="BMC/SMC复材专用模温机" title="BMC/SMC复材专用模温机" /></a>
<a class="tpzs_title" href="#&id=54" title="BMC/SMC复材专用模温机">BMC/SMC复材专用模温机</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=81" title="碳纤维成型冷热控温"><img src="__STATIC__/images/case/1569652805.jpg" alt="碳纤维成型冷热控温" title="碳纤维成型冷热控温" /></a>
<a class="tpzs_title" href="#&id=81" title="碳纤维成型冷热控温">碳纤维成型冷热控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=82" title="高光无痕注塑模温机"><img src="__STATIC__/images/case/1569653754.jpg" alt="高光无痕注塑模温机" title="高光无痕注塑模温机" /></a>
<a class="tpzs_title" href="#&id=82" title="高光无痕注塑模温机">高光无痕注塑模温机</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=83" title="橡胶硫化机热板控温"><img src="__STATIC__/images/case/1569653727.jpg" alt="橡胶硫化机热板控温" title="橡胶硫化机热板控温" /></a>
<a class="tpzs_title" href="#&id=83" title="橡胶硫化机热板控温">橡胶硫化机热板控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=57" title="三辊压延机辊筒控温"><img src="__STATIC__/images/case/1533260563.jpg" alt="三辊压延机辊筒控温" title="三辊压延机辊筒控温" /></a>
<a class="tpzs_title" href="#&id=57" title="三辊压延机辊筒控温">三辊压延机辊筒控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=84" title="EVA/EPDM发泡成型控温"><img src="__STATIC__/images/case/1569654163.JPG" alt="EVA/EPDM发泡成型控温" title="EVA/EPDM发泡成型控温" /></a>
<a class="tpzs_title" href="#&id=84" title="EVA/EPDM发泡成型控温">EVA/EPDM发泡成型控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=85" title="压机汽车内饰控温模温机"><img src="__STATIC__/images/case/1569654107.jpg" alt="压机汽车内饰控温模温机" title="压机汽车内饰控温模温机" /></a>
<a class="tpzs_title" href="#&id=85" title="压机汽车内饰控温模温机">压机汽车内饰控温模温机</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=86" title="压铸3200T新能源变速箱控温"><img src="__STATIC__/images/case/1569654492.jpg" alt="压铸3200T新能源变速箱控温" title="压铸3200T新能源变速箱控温" /></a>
<a class="tpzs_title" href="#&id=86" title="压铸3200T新能源变速箱控温">压铸3200T新能源变速箱控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=43" title="风电叶片模具控温现场"><img src="__STATIC__/images/case/1569655437.jpg" alt="风电叶片模具控温现场" title="风电叶片模具控温现场" /></a>
<a class="tpzs_title" href="#&id=43" title="风电叶片模具控温现场">风电叶片模具控温现场</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=56" title="汽车内饰模压控温"><img src="__STATIC__/images/case/1533261172.jpg" alt="汽车内饰模压控温" title="汽车内饰模压控温" /></a>
<a class="tpzs_title" href="#&id=56" title="汽车内饰模压控温">汽车内饰模压控温</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=55" title="冷喂料挤出机控温 "><img src="__STATIC__/images/case/1533260687.jpg" alt="冷喂料挤出机控温 " title="冷喂料挤出机控温 " /></a>
<a class="tpzs_title" href="#&id=55" title="冷喂料挤出机控温 ">冷喂料挤出机控温 </a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=51" title="鼓式硫化机温控"><img src="__STATIC__/images/case/1533261068.jpg" alt="鼓式硫化机温控" title="鼓式硫化机温控" /></a>
<a class="tpzs_title" href="#&id=51" title="鼓式硫化机温控">鼓式硫化机温控</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=61" title="无溶剂复合机"><img src="__STATIC__/images/case/1533260913.jpg" alt="无溶剂复合机" title="无溶剂复合机" /></a>
<a class="tpzs_title" href="#&id=61" title="无溶剂复合机">无溶剂复合机</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=90" title="防爆油加热器"><img src="__STATIC__/images/case/1569661594.jpg" alt="防爆油加热器" title="防爆油加热器" /></a>
<a class="tpzs_title" href="#&id=90" title="防爆油加热器">防爆油加热器</a>
  </li>

  <li class="tpzs_animate col-sm-4 col-xs-6 animated fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
<a class="pic" href="#&id=92" title="双向拉伸流延膜控温"><img src="__STATIC__/images/case/1569661973.jpg" alt="双向拉伸流延膜控温" title="双向拉伸流延膜控温" /></a>
<a class="tpzs_title" href="#&id=92" title="双向拉伸流延膜控温">双向拉伸流延膜控温</a>
  </li>
 

</ul>

	
		
</div>
</div></div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>

 </div>
 <div class="clear main_box_inner_bottom"></div>
</div><div class="bottom_box"><div class="dibu">
	

	
	{include file='public/footer' /}