{include file="index@public/header"/}


<script type="text/javascript">var IsPageHome="1";var Lanmu_Id="61";var Sublanmu_Id="0";ShowSubMenu(Lanmu_Id);</script>


 <div class="main_box main_box_style">
 <div class="main_box_inner">
 

        <div class="page_top">
			<a href="#">
				<img src="__STATIC__/images/product/ban_er.jpg"/>
			</a>
		</div>
		<div class="main_box main_box_style1">
 <div class="main_box_inner">
 
  <div class="main_box_inner_left">
<div id="nav_144" class="nav_box nav_box_menu">

<div class="nav_title"><span class="nav_sign">后台管理</span><span class="nav_more"></span></div>
<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navs"><span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div id="navs" class="nav_menu collapse navbar-collapse">
<ul id="rootul_144">
<!--	-->	
<li id="sl694"><a href="#&class2=6" title="试水机" class="sla694 "><h3>导航</h3></a></li>

<li class="bg"><a style="line-height:40px;" href="__ROOT__/admin/cate" title="油温机">&nbsp;&nbsp;&nbsp;&nbsp;--导航列表</a></li>
	
<li class="bg"><a style="line-height:40px;" href="__ROOT__/admin/cate/create" title="油温机">&nbsp;&nbsp;&nbsp;&nbsp;--新增导航</a></li>
		

		

	<!--	-->	
<li id="sl694"><a href="#&class2=9" title="产品" class="sla694 "><h3>产品</h3></a></li>

<li class="bg"><a style="line-height:40px;" href="__ROOT__/admin/product" title="产品">&nbsp;&nbsp;&nbsp;&nbsp;--产品列表</a></li>

<li class="bg"><a style="line-height:40px;" href="__ROOT__/admin/product/create" title="产品">&nbsp;&nbsp;&nbsp;&nbsp;--新增产品</a></li>


		



</ul>
</div>


</div>
<script type="text/javascript">Initialization_Nav("rootul_144","sl918","0");</script>
</div>
 




   <div class="main_box_inner_right">
<div class="sublanmu_content sublanmu_content_introduct">

<div>
	


{block name="content"}内容{/block}




</div>

</div>
</div></div>
 </div>
 <div class="clear main_box_inner_bottom"></div>
</div>

 </div>
 <div class="clear main_box_inner_bottom"></div>
</div><div class="bottom_box"><div class="dibu">
	

	{include file='index@public/footer' /}